.App header {
  text-align: center;
}

.App img {  
  margin: 20px auto;
  width: 60px;
  border-radius: 34px;
}

.App h1 {  
  font-size: 30px;
  display: inline;  
  font-family: 'Great Vibes', cursive;
  margin-left: 15px;
}

.App footer {
  text-align: center;
  margin: 20px;
  font-size: 12px;  
 
}

.App a {
  text-decoration: none;
}